[Unit]
Description=SecretHitlerBot - Discord bot to automate the beginning of a Secret Hitler board game
Documentation=https://github.com/tommymcgahee/secrethitlerdiscordbot
After=network.target

[Service]
Type=simple
User=secrethitlerbot
WorkingDirectory=/opt/bots/secrethitlerdiscordbot
ExecStart=/usr/bin/node /opt/bots/secrethitlerdiscordbot/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
